@import './colors.scss';

@font-face {
    font-family: leelawade;
    src: url('../Fonts/LEELAWUI.TTF');
}

@font-face {
    font-family: leelawade_bold;
    src: url('../Fonts/LEELAUIB.TTF');
}

* {
    font-family: leelawade;
}

h1 {
    font-family: leelawade_bold;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-family: leelawade_bold;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
    font-family: leelawade;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    font-size: 22px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

h6 {
    font-size: 14px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.font__bold {
    font-family: leelawade_bold;
}

.font-thin {
    font-weight: 100;
}

.font__primary {
    color: $primary-color;
}

.font-center {
    text-align: center;
}